.header {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color-primary);
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.02),0 1px 8px 0 rgba(0,0,0,.06);
  z-index: 10;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 3rem;
  padding: 1rem 1rem 1rem;
  background-color: var(--background-color-tertiary);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: calc(100vh - 3rem);
}