.avatar {
  background-color: var(--accent-color-2);
  height: 24px;
  width: 24px;
  color: var(--font-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-transform: capitalize;
  font-size: var(--size-sm);
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.avatar:hover {
  opacity: .7;
}