.button {
  background-color: var(--accent-color-1);
  color: white;
  border: none;
  font-size: var(--size-md);
  border-radius: var(--button-border-radius);
  font-weight: 400;
  height: 3rem;
  box-sizing: border-box;
  transition: all .5s ease;
  cursor: pointer;
  padding: .5rem 1rem;
}

.button:hover {
  background-color: #2e45b9;
}
