.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: var(--background-color-tertiary);
  border: 1px dashed var(--border-color-secondary);
  border-radius: var(--input-border-radius);
  padding: 2rem;
  box-sizing: border-box;
}

.dropzone {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.dropzone p {
  margin: .5rem 0 0;
}

.description {
  font-size: var(--size-sm);
  font-weight: 500;
}

.info {
  font-size: var(--size-xs);
  font-weight: 500;
}

.errors {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 1rem;
}

.errors li {
  list-style-type: none;
}

.error {
  font-size: var(--size-xs);
  font-weight: 300;
  color: var(--error-color);
}