.textbox {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  height: 3rem;
  box-sizing: border-box;
  border: 1px solid var(--border-color-primary);
  padding: 0 1rem;
  color: var(--font-color-primary);
  transition: background-color .5s ease 0s;
  outline: 0;
}

.filled {
  background-color: var(--background-color-secondary);
}

.inputError {
  border: 1px solid var(--error-color);
  background: white;
}

.input:focus {
  border: 1px solid var(--border-color-secondary);
}

.input:hover {
  background-color: var(--background-color-secondary);
}

.textbox label {
  margin-bottom: .125rem;
  font-size: var(--size-md);
  font-weight: 300;
}

.textboxLink {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--accent-color-1);
  text-decoration: none;
  font-size: var(--size-sm);
  font-weight: 300;
}

.textboxLink:hover {
  text-decoration: underline;
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--size-sm);
  margin-top: 0.250rem;
  font-weight: 300;
}