.integration {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--size-xs);
  width: 100px;
  text-align: center;
  gap: .5rem;
  cursor: pointer;
  border-radius: calc(2 * var(--input-border-radius));
  padding: .5rem;
  box-sizing: border-box;
}

.integration img {
  height: 48px;
}

.integration:hover {
  background-color: var(--background-color-tertiary);
}