.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
}

.header {
  flex: 1;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.error {
  color: var(--error-color);
  font-size: var(--size-sm);
  font-weight: 300;
}

.body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.body p {
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.narrowContainer {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: auto;
  padding: 3rem 1rem 1rem;
  box-sizing: border-box;
}

.footer ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}

.footer li {
  display: inline;
}

.footer a {
  color: var(--font-color-secondary);
  font-size: var(--size-sm);
  text-decoration: none;
  font-weight: 300;
}

.footer a:hover {
  color: var(--accent-color-1);
  text-decoration: underline;
}

.extra {
  margin-top: 2rem;
  font-weight: 300;
  font-size: var(--size-md);
}

.extra a {
  color: var(--accent-color-1);
  text-decoration: none;
  font-weight: 300;
}

.extra a:hover {
  text-decoration: underline;
}