.table {
  border-collapse: collapse;
  border: 1px solid var(--border-color-tertiary);
  background: var(--background-color-primary);
  border-radius: var(--input-border-radius);
  width: 100%;
}

.tableHeader {
  border-bottom: 1px solid var(--border-color-secondary);
}

.tableHeader th {
  padding: 0.5rem 1rem;
  font-size: var(--size-sm);
}

.tableRow:nth-child(2n-1) td {
  background-color: var(--background-table-accent);
}

.tableRow td {
  padding: 0.5rem 1rem;
  font-size: var(--size-xs);
}