.userMenu {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: var(--background-color-primary);
  z-index: 15;
  border-color: var(--border-color-primary);
  border-radius: var(--input-border-radius);
  padding: 0;
  box-shadow: 2px 2px 3px 0 rgba(0,0,0,.1);
  width: 20rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  animation: fade-in 0.5s;
}

.userContainer {
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--border-color-tertiary);
}

.userInfo {
  font-size: var(--size-md);
  font-weight: 500;
}

.userDescription {
  color: var(--font-color-secondary);
  font-size: var(--size-sm);
  font-weight: 400;
}

.menuActionsList {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

.menuActionsList li {
  width: 100%;
}

.menuLink {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color-primary);
  font-size: var(--size-sm);
  transition: background 0.3s ease-in-out;
  display: block;
  box-sizing: border-box;
}

.menuLink:hover {
  background-color: var(--background-color-tertiary);
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}