:root {
  --rem: 16;
  --font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  --accent-color-1: #5159F5;
  --accent-color-2: #FFE380;
  --background-color-primary: #FFFFFF;
  --background-color-secondary: #d4dae4;
  --background-color-tertiary: #f2f5fa;
  --background-table-accent: #ECF3FE;
  --font-color-primary: #1c283b;
  --font-color-secondary: #8f9db3;
  --border-color-primary: #dfdede;
  --border-color-secondary: #3e7dcc;
  --border-color-tertiary: #eeeffd;
  --size-heading: 2.75rem;
  --size-xxxl: 2.5rem;
  --size-xxl: 1.5rem;
  --size-xl: 1.25rem;
  --size-lg: 1.125rem;
  --size-md: 1rem;
  --size-sm: 0.875rem;
  --size-xs: 0.75rem;
  --size-xxs: 0.625rem; 
  --button-border-radius: 4px;
  --input-border-radius: 4px;
  --error-color: #ff533f;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--font-color-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: var(--size-heading);
  font-weight: 500;
  line-height: 1;
}

.h2, h2 {
  font-size: var(--size-lg);
}

p {
  font-size: var(--size-md);
  line-height: 1.5rem;
  font-weight: 300;
}