.tableSource {
  display: flex;
  background-color: var(--background-color-primary);
  border-radius: var(--input-border-radius);
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.dataSource {
  overflow: scroll;
  max-height: 100%;
  border-radius: var(--input-border-radius);
  width: 100%;
}

.tableSource h1 {
  font-size: var(--size-xl);
  font-weight: 600;
}

.tableSource h2 {
  font-size: var(--size-lg);
  font-weight: 600;
}

.integrationsSelector {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.errorContainer {
  display: flex;
  padding: 1rem;
  border-radius: var(--input-border-radius);
  color: var(--error-color);
  font-size: var(--size-md);
  align-items: center;
  justify-content: center;
}